@use '../base/colors';

.main {
  //margin-top: 20px;
}

.voyage {
  &__image {
    max-width: 350px;
    max-height: 100%;
  }
}

.buttons {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.button {
  padding: 0;
  border: none;
  background-color: colors.$blue;
  color: colors.$white;
  transition: 0.3s linear;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;

  &:hover {
    background-color: colors.$darkblue;
    transition: 0.3s linear;
  }
}
